# The primary dataset generation
This notebook we will create datasets that can be used to feature selection. The major procedure includes filling out the missing values, drop the features that majority of them are missing, do the log transform for the numerical features, generate the interaction features. For categorical features, there are three different approaches, one is the regular [One Hot Encoder](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html), the other approach is [Empirical Bayesian Method](http://helios.mm.di.uoa.gr/~rouvas/ssi/sigkdd/sigkdd.vol3.1/barreca.pdf) and last one is to encoding according to ordering [based on mean of the target value](https://www.kaggle.com/dgawlik/house-prices-eda) .We can generate three different ways to generate the dataset. After all the procedure, we will do the standardization to get mearn 0 and standard deviation of 1.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as st
import matplotlib.pyplot as plt
%matplotlib inline 
plt.style.use('ggplot')
import warnings
import json
import pickle
from sklearn.preprocessing import Imputer
warnings.filterwarnings('ignore')

In [2]:
training = "../../data/train.csv"
test = "../../data/test.csv"
modified = "../../data/modified/"

In [3]:
df_train = pd.read_csv(training)
df_test = pd.read_csv(test)

## Outliers
Those data `with more than 4000 square feet` can be considered as outlier according to the [paper](https://ww2.amstat.org/publications/jse/v19n3/decock.pdf). We can remove them in the training data at first.

In [4]:
df_train = df_train[df_train.GrLivArea < 4000]

## Missing values
We can drop some features that most of which are missing values, which doesn't contribute much to our target value -- housing price.

In [5]:
drop_missing = ["PoolQC", "MiscFeature", "Alley", "Fence"]

In [6]:
df_train.drop(drop_missing, inplace=True, axis=1)
df_test.drop(drop_missing, inplace=True, axis=1)

In [7]:
def fill_specific(data, spec):
    col = []
    for key, val in spec.items():
        if isinstance(val, list):
            for item in val:
                if item in data.columns.values:
                    data[item].fillna(key, inplace=True)
                    print("Column {0} 's empty value has been replaced by {1}".format(item, key))
                    col.append(item)
                else:
                    print("{0} is not a column in the dataset.".format(item))
        else:
            print("To replace NA values with {0}, a list needs to be specified.".format(key))
    print("\n Now the columns have been updated:")
    print(col)

In [8]:
fill_dict = {"NoBsmt": ["BsmtFinType1", "BsmtCond", "BsmtFinType2", "BsmtExposure", "BsmtQual"],
             "NoGarage": ["GarageCond", "GarageQual", "GarageFinish", "GarageType"],
             "NoPool": ["PoolQC"],
             "NoFirePlace": ["FireplaceQu"],
             "NoFence":["Fence"],
             "NoAccess": ["Alley"],
             "None": ["MiscFeature", "MasVnrType"]
             }

In [9]:
fill_specific(df_train,fill_dict)

Column GarageCond 's empty value has been replaced by NoGarage
Column GarageQual 's empty value has been replaced by NoGarage
Column GarageFinish 's empty value has been replaced by NoGarage
Column GarageType 's empty value has been replaced by NoGarage
Column BsmtFinType1 's empty value has been replaced by NoBsmt
Column BsmtCond 's empty value has been replaced by NoBsmt
Column BsmtFinType2 's empty value has been replaced by NoBsmt
Column BsmtExposure 's empty value has been replaced by NoBsmt
Column BsmtQual 's empty value has been replaced by NoBsmt
Alley is not a column in the dataset.
MiscFeature is not a column in the dataset.
Column MasVnrType 's empty value has been replaced by None
PoolQC is not a column in the dataset.
Column FireplaceQu 's empty value has been replaced by NoFirePlace
Fence is not a column in the dataset.

 Now the columns have been updated:
['GarageCond', 'GarageQual', 'GarageFinish', 'GarageType', 'BsmtFinType1', 'BsmtCond', 'BsmtFinType2', 'BsmtExposure', 'BsmtQual', 'MasVnrType', 'FireplaceQu']

In [10]:
fill_specific(df_test, fill_dict)

Column GarageCond 's empty value has been replaced by NoGarage
Column GarageQual 's empty value has been replaced by NoGarage
Column GarageFinish 's empty value has been replaced by NoGarage
Column GarageType 's empty value has been replaced by NoGarage
Column BsmtFinType1 's empty value has been replaced by NoBsmt
Column BsmtCond 's empty value has been replaced by NoBsmt
Column BsmtFinType2 's empty value has been replaced by NoBsmt
Column BsmtExposure 's empty value has been replaced by NoBsmt
Column BsmtQual 's empty value has been replaced by NoBsmt
Alley is not a column in the dataset.
MiscFeature is not a column in the dataset.
Column MasVnrType 's empty value has been replaced by None
PoolQC is not a column in the dataset.
Column FireplaceQu 's empty value has been replaced by NoFirePlace
Fence is not a column in the dataset.

 Now the columns have been updated:
['GarageCond', 'GarageQual', 'GarageFinish', 'GarageType', 'BsmtFinType1', 'BsmtCond', 'BsmtFinType2', 'BsmtExposure', 'BsmtQual', 'MasVnrType', 'FireplaceQu']

In [11]:
def calculate_empty(input_data, value=0):
    """
    Find the all the columns with empty values with descending order, where the number of the empty values is larger
    than value
    :param input_data: the input data as a Pandas DataFrame
    :param value: the minimum number of the empty values in the column
    :return: A Pandas Series having empty values with column name and number of empty values
    """
    if not isinstance(input_data, pd.DataFrame):
        raise TypeError("Input data is not a valid Pandas DataFrame")
    columns = input_data.isnull().sum()
    columns = columns[columns > value]
    columns.sort_values(ascending=False, inplace=True)
    return columns

In [12]:
def current_empty(input_data):
    """
    Compute the list of the column names with empty values
    :param input_data: the input data as a Pandas DataFrame
    :return: A list of the column names with empty values
    """
    cols = list(calculate_empty(input_data).index)
    if cols:
        print("Now the column name(s) that have empty values are:")
        print(calculate_empty(input_data))
    else:
        print("There are no empty values in the data.")
    return cols

In [13]:
current_empty(df_train)

Now the column name(s) that have empty values are:
LotFrontage    259
GarageYrBlt     81
MasVnrArea       8
Electrical       1
dtype: int64

['LotFrontage', 'GarageYrBlt', 'MasVnrArea', 'Electrical']

In [14]:
current_empty(df_test)

Now the column name(s) that have empty values are:
LotFrontage     227
GarageYrBlt      78
MasVnrArea       15
MSZoning          4
Functional        2
Utilities         2
BsmtHalfBath      2
BsmtFullBath      2
BsmtFinSF1        1
Exterior1st       1
Exterior2nd       1
SaleType          1
BsmtFinSF2        1
GarageArea        1
TotalBsmtSF       1
KitchenQual       1
GarageCars        1
BsmtUnfSF         1
dtype: int64

['LotFrontage',
 'GarageYrBlt',
 'MasVnrArea',
 'MSZoning',
 'Functional',
 'Utilities',
 'BsmtHalfBath',
 'BsmtFullBath',
 'BsmtFinSF1',
 'Exterior1st',
 'Exterior2nd',
 'SaleType',
 'BsmtFinSF2',
 'GarageArea',
 'TotalBsmtSF',
 'KitchenQual',
 'GarageCars',
 'BsmtUnfSF']

### Garage features
There is one mising value in `GarageArea` and `GarageCars` in the test data. We can have a look at the garage type in this case.

In [15]:
Garagetype = df_test.loc[df_test.GarageArea.isnull(),'GarageType']
print ("The GarageType is " + Garagetype.values[0] +
       ", when the Garage Area is empty.")

The GarageType is Detchd, when the Garage Area is empty.

We can replace the missing value with the median value of `GarageArea` and `GarageCars` when the `GarageType` is `Detchd`.

In [16]:
def fill_group(data, group):
    """
    This function will go through the dictionary of group, for each column as key[0] has a value of key[1], it will
    fill those columns' empty values in the corresponding list as the mode of the group in column key[0] with value
    key[1] if it is category, or median of the group in column key[0] with value key[1] if it is a numeric one.
    :param group: A dictionary has the key as the tuple of (col1, val1) and value as a list
    :return:
    """
    if not isinstance(group, dict):
        raise TypeError("A dictionary needs to be passed to specify how to fill empty values with group")

    col = []
    value = 0
    for key, val in group.items():
        if key[0] in data.columns.values:
            if isinstance(val, list):
                for item in val:
                    if item in data.columns.values:
                        if data[item].dtypes == "object":
                            value = data.loc[data[key[0]] == key[1], item].mode()[0]
                        else:
                            value = data.loc[data[key[0]] == key[1], item].median()
                        data[item].fillna(value, inplace=True)
                        print("Now column {0} 's empty value has been replaced by {1}".format(item, value))
                        col.append(item)

            else:
                print("To replace {0}, a list needs to be specified.".format(key[1]))

        else:
            print("{0} is not a column in the dataset.".format(key[0]))
    print("\n Now the columns have been updated:")
    print(col)

In [17]:
group = {("GarageType", "Detchd"): ["GarageArea", "GarageCars"] }

In [18]:
fill_group(df_test,group)

Now column GarageArea 's empty value has been replaced by 384.0
Now column GarageCars 's empty value has been replaced by 1.0

 Now the columns have been updated:
['GarageArea', 'GarageCars']

In [19]:
current_empty(df_test)

Now the column name(s) that have empty values are:
LotFrontage     227
GarageYrBlt      78
MasVnrArea       15
MSZoning          4
Functional        2
BsmtHalfBath      2
BsmtFullBath      2
Utilities         2
SaleType          1
KitchenQual       1
TotalBsmtSF       1
BsmtUnfSF         1
BsmtFinSF2        1
BsmtFinSF1        1
Exterior2nd       1
Exterior1st       1
dtype: int64

['LotFrontage',
 'GarageYrBlt',
 'MasVnrArea',
 'MSZoning',
 'Functional',
 'BsmtHalfBath',
 'BsmtFullBath',
 'Utilities',
 'SaleType',
 'KitchenQual',
 'TotalBsmtSF',
 'BsmtUnfSF',
 'BsmtFinSF2',
 'BsmtFinSF1',
 'Exterior2nd',
 'Exterior1st']

In [20]:
def convert_value(data, matching):
    if not isinstance(matching, dict):
        raise TypeError("A dictionary needs to be passed to convert the columns.")

    col = []
    for key, val in matching.items():
        if isinstance(val, list):
            for item in val:
                if item[0] in data.columns.values and item[1] in data.columns.values:
                    data.loc[data[item[0]] == key[0], item[1]] = key[1]
                    col.append(item[1])
                else:
                    print("Please check the column names, {0} or {1} may not be a valid column name".format(item[0],item[1]))
        else:
            print("The columns to convert need to be a list.")
    print("\n Now the columns have been updated:")
    print(col)

In [21]:
value_matching = {
    ("NoBsmt", 0): [("BsmtFinType1", "BsmtFinSF1"), ("BsmtFinType2", "BsmtFinSF2"), ("BsmtQual", "TotalBsmtSF"),
                    ("BsmtQual", "BsmtUnfSF")
                    ],
    ("None", 0):[("MasVnrType","MasVnrArea")],
    ("NoGarage", 0) : [("GarageType", "GarageCars"), ("GarageType", "GarageArea")],
    ("NoFirePlace", 0): [("FireplaceQu", "Fireplaces")]
}

In [22]:
convert_value(df_train, value_matching)

 Now the columns have been updated:
['BsmtFinSF1', 'BsmtFinSF2', 'TotalBsmtSF', 'BsmtUnfSF', 'GarageCars', 'GarageArea', 'MasVnrArea', 'Fireplaces']

In [23]:
current_empty(df_train)

Now the column name(s) that have empty values are:
LotFrontage    259
GarageYrBlt     81
Electrical       1
dtype: int64

['LotFrontage', 'GarageYrBlt', 'Electrical']

In [24]:
convert_value(df_test, value_matching)

 Now the columns have been updated:
['BsmtFinSF1', 'BsmtFinSF2', 'TotalBsmtSF', 'BsmtUnfSF', 'GarageCars', 'GarageArea', 'MasVnrArea', 'Fireplaces']

In [25]:
current_empty(df_test)

Now the column name(s) that have empty values are:
LotFrontage     227
GarageYrBlt      78
MSZoning          4
Functional        2
BsmtHalfBath      2
BsmtFullBath      2
Utilities         2
SaleType          1
KitchenQual       1
Exterior2nd       1
Exterior1st       1
dtype: int64

['LotFrontage',
 'GarageYrBlt',
 'MSZoning',
 'Functional',
 'BsmtHalfBath',
 'BsmtFullBath',
 'Utilities',
 'SaleType',
 'KitchenQual',
 'Exterior2nd',
 'Exterior1st']

### Garage Year Built
2216 of the 2919 houses have same year for for `GarageYrBlt` and `YearBuilt`.Replace any of the NA’s for `GarageYrBlt` with the year from `YearBuilt`.

In [26]:
df_train['GarageYrBlt'].fillna(df_train['YearBuilt'], inplace=True)

In [27]:
current_empty(df_train)

Now the column name(s) that have empty values are:
LotFrontage    259
Electrical       1
dtype: int64

['LotFrontage', 'Electrical']

In [28]:
df_test['GarageYrBlt'].fillna(df_test['YearBuilt'], inplace=True)
current_empty(df_test)

Now the column name(s) that have empty values are:
LotFrontage     227
MSZoning          4
Functional        2
BsmtHalfBath      2
BsmtFullBath      2
Utilities         2
SaleType          1
KitchenQual       1
Exterior2nd       1
Exterior1st       1
dtype: int64

['LotFrontage',
 'MSZoning',
 'Functional',
 'BsmtHalfBath',
 'BsmtFullBath',
 'Utilities',
 'SaleType',
 'KitchenQual',
 'Exterior2nd',
 'Exterior1st']

### LotFrontage
`LotFrontage` is the linear feet of street connected to property. We can explore its relations with `LotArea`.

In [29]:
df_train['LotFrontage'].corr(df_train['LotArea'])

0.38757021208207809

In [30]:
df_test['LotFrontage'].corr(df_test['LotArea'])

0.6446084977757518

Let's find the relation between `LotFrontage` and  the root square of `LotArea`.

In [31]:
df_test['LotFrontage'].corr(np.sqrt(df_test['LotArea']))

0.70300193477713013

In [32]:
df_train['LotFrontage'].corr(np.sqrt(df_train['LotArea']))

0.58015981105630132

We can fill the missing values of `LotFrontage` with the square root of `LotArea`.

In [33]:
df_train['LotFrontage'].fillna(np.sqrt(df_train['LotArea']), inplace=True)
df_test['LotFrontage'].fillna(np.sqrt(df_test['LotArea']), inplace=True)

In [34]:
current_empty(df_train)

Now the column name(s) that have empty values are:
Electrical    1
dtype: int64

['Electrical']

In [35]:
current_empty(df_test)

Now the column name(s) that have empty values are:
MSZoning        4
Functional      2
BsmtHalfBath    2
BsmtFullBath    2
Utilities       2
SaleType        1
KitchenQual     1
Exterior2nd     1
Exterior1st     1
dtype: int64

['MSZoning',
 'Functional',
 'BsmtHalfBath',
 'BsmtFullBath',
 'Utilities',
 'SaleType',
 'KitchenQual',
 'Exterior2nd',
 'Exterior1st']

In [36]:
df_train['Electrical'].fillna(df_train['Electrical'].value_counts().idxmax(), inplace=True)

In [37]:
current_empty(df_train)

There are no empty values in the data.

[]

In [38]:
placement = ['MSZoning','Functional','Utilities','SaleType','KitchenQual','Exterior2nd','Exterior1st']
for feature in placement:
    df_test[feature].fillna(df_train[feature].value_counts().idxmax(),inplace=True)

In [39]:
medians = ['BsmtHalfBath','BsmtFullBath' ]
for feature in medians:
    df_test[feature].fillna(df_train[feature].median(), inplace=True)

In [40]:
current_empty(df_test)

There are no empty values in the data.

[]

In [41]:
mapping = {
    'MSSubClass': { 20: "SubClass_20",
                     30: "SubClass_30",
                     40: "SubClass_40",
                     45: "SubClass_45",
                     50: "SubClass_50",
                     60: "SubClass_60",
                     70: "SubClass_70",
                     75: "SubClass_75",
                     80: "SubClass_80",
                     85: "SubClass_85",
                     90: "SubClass_90",
                     120: "SubClass_120",
                     150: "SubClass_150",
                     160: "SubClass_160",
                     180: "SubClass_180",
                     190: "SubClass_190"},
    'MoSold': { 1:"Jan",
                2:"Feb",
                3:"Mar",
                4:"Apr",
                5:"May",
                6:"Jun",
                7: "Jul",
                8: "Aug",
                9:"Sep",
               10:"Oct",
               11:"Nov",
               12:"Dec"}
    }
df_train.replace(mapping, inplace=True)
df_test.replace(mapping, inplace=True)

In [42]:
complete = modified + "raw_complete.pkl"
completed = {"train": df_train, "test": df_test}
with open(complete, 'wb') as f:
    pickle.dump(completed, f, pickle.HIGHEST_PROTOCOL)

## Numerical features
For some numerical features, we need to do logarithm transformation in order to fit into some models that assumes the features are gaussian distribution.

In [43]:
numerical = [f for f in df_train.columns.values if df_train.dtypes[f] != 'object' ]
print(numerical)

['Id', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'YrSold', 'SalePrice']

In [44]:
features = ['LotArea','LotFrontage','TotalBsmtSF','1stFlrSF','2ndFlrSF','GrLivArea','KitchenAbvGr']
for f in features:
    df_train[f] = np.log1p(df_train[f].values)
    df_test[f] = np.log1p(df_test[f].values)
df_train['SalePrice'] = np.log1p(df_train['SalePrice'].values)

## Categorical features
There are several ways to encode categorical features for numerical numbers:
* One Hot Encoder
* Emperical Baysian Method
* Encoding based on order of the average of the target values

In [45]:
categorical = [f for f in df_train.columns.values if df_train.dtypes[f] == 'object']
print(categorical)

['MSSubClass', 'MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'MoSold', 'SaleType', 'SaleCondition']

### One Hot Encoder

In [46]:
df_train_dummy = pd.get_dummies(df_train,columns=categorical)
df_test_dummy = pd.get_dummies(df_test,columns=categorical)

In [47]:
HotFile = modified + "OneHotRaw.pkl"
OneHot = {"train": df_train_dummy, "test": df_test_dummy}
with open(HotFile, 'wb') as f:
    pickle.dump(OneHot, f, pickle.HIGHEST_PROTOCOL)

,Id,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
count,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,...,1459.000000,1459.000000,1459.000000,1459.00000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000
mean,2190.000000,4.253942,9.078854,6.078821,5.553804,1971.357779,1983.662783,99.342015,438.902673,52.583276,...,0.002056,0.080192,0.002742,0.86292,0.061001,0.005483,0.008225,0.017820,0.825223,0.082248
std,421.321334,0.375707,0.501942,1.436812,1.113740,30.390071,21.130467,176.955080,455.257119,176.698671,...,0.045314,0.271683,0.052306,0.34405,0.239414,0.073871,0.090348,0.132344,0.379907,0.274837
min,1461.000000,3.091042,7.293698,1.000000,1.000000,1879.000000,1950.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1825.500000,4.110874,8.908154,5.000000,5.000000,1953.000000,1963.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,2190.000000,4.262680,9.148465,6.000000,5.000000,1973.000000,1992.000000,0.000000,350.000000,0.000000,...,0.000000,0.000000,0.000000,1.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,2554.500000,4.488636,9.351710,7.000000,6.000000,2001.000000,2004.000000,161.500000,752.000000,0.000000,...,0.000000,0.000000,0.000000,1.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,2919.000000,5.476077,10.943782,10.000000,9.000000,2010.000000,2010.000000,1290.000000,4010.000000,1526.000000,...,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [48]:
total = pd.concat((df_train.loc[:,categorical],df_test.loc[:,categorical]),ignore_index=True )
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for c in categorical:
    le.fit(total[c])
    df_train[c] = le.transform(df_train[c])
    df_test[c] = le.transform(df_test[c])